@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/Google_Sans_Flex/static/GoogleSansFlex_36pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/Google_Sans_Flex/static/GoogleSansFlex_36pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/Google_Sans_Flex/static/GoogleSansFlex_36pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/Google_Sans_Flex/static/GoogleSansFlex_36pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("/fonts/Google_Sans_Code/static/GoogleSansCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  letter-spacing: -0.2px;
}
